/Auftrag-7-DHCP-Lease/TA1-Handout_ DHCP Lease mit Python-280825-084359.pdf
/Auftrag-5-Gitlab-Access-Logfile/TA1-Handout_ Logfile Analyse mit pandas-210825-104533.pdf
/Auftrag-4-Logfile-Analyse/TA1-Handout_ Logfile Analyse mit Python-210825-074933.pdf
/discover.log
/discover.pdf
